.dashboard-block
  .app-block
    %h5
      = image_tag("idea.png")
      &= t(".title")
    - if @last_ideas.present?
      %ul.square-list
        - @last_ideas.each do |item|
          %li
            %div
              = link_to h(item.title), idea_path(item), :title => h(item.title)
              = "(" + I18n.l(item.updated_at.localtime, :format => "%e %B %Y").lstrip + ")"
            %p.intention
              %em&= item.intention
    - else
      %div= t(".no_ideas")