.dashboard-block
  .app-block
    %h5
      = image_tag("idea.png")
      = t(".title")
    - if @last_ideas.present?
      %ul.square-list
        - @last_ideas.each do |item|
          %li
            %div
              = link_to(item.title, idea_path(item), :title => item.title)
              = "(" + I18n.l(item.updated_at.localtime, :format => "%e %B %Y").lstrip + ")"
            %p.target
              %em= item.target
    - else
      %div= t(".no_ideas")