.dashboard-block
  .app-block
    %h5
      = image_tag("pin.png")
      = t(".title")
    %ul.square-list
      - @sticked_ideas.each do |item|
        %li
          %div
            = link_to(item.title, idea_path(item), :title => item.title)
            = "(" + I18n.l(item.updated_at.localtime, :format => "%e %B %Y").lstrip + ")"
          %p.target
            %em= item.target