.tag-statistics
  - if @tags.present?
    %ul
      - @tags.each do |tag|
        %li
          = link_to tag.name, tagged_ideas_path(tag.name)
          %div.right
            %span.tag-count= "(#{tag.count})"
            .tag-color-bullet(style="color: #{tag.foreground_color}; background-color: #{tag.background_color}")
  - else
    %p= t(".no_tags")  