.app-block
  %h1= @idea.title

  %p= @idea.target

  %p
    State:
    %strong= @idea.state.title

  - if @idea.description.present?
    %hr
    = @idea.description

  -if @features.present?
    = render :partial => "shared/feature_list", :locals => { :show_menu => false }
  
= link_to t(".back"), :back