.welcome-container
  .welcome-block
    = t(".welcome_text")

  .public-ideas-block
    .app-block
      %h5
        = image_tag("public.png")
        = t(".public_ideas_title")
      %ul.square-list
        - @published_ideas.each do |item|
          %li
            %div
              = link_to(item.title, show_public_idea_path(item), :title => item.title)
              = "(" + I18n.l(item.published_at.localtime, :format => "%e %B %Y").lstrip + ")"
            %p
              %em= item.intention

      .pagination
        = will_paginate(@published_ideas, :container => false)
        &nbsp;&nbsp;
        = page_entries_info(@published_ideas)