.feature-list-header
  %span
    = link_to t(".expand_all"), "#", :class => "expand-collaps-all-features"
  %h2= t(".title")

= render :partial => "shared/feature_item", :collection => @features, :as => :item, :locals => { :show_menu => show_menu }

:javascript
  jQuery(function() {
    $(".feature-title").click(function(e) {
      // Return if it's a child that's clicked:
      if (e.target !== this && e.target != $("h5", this).get(0))
        return;

      $(this).toggleClass("collapsed");
      $(this).toggleClass("expanded");
      $(this).next(".feature-description").slideToggle(300);
    });

    $(".expand-collaps-all-features").toggle(function() {
      $(".feature-title.collapsed").each(function() {
        $(this).removeClass("collapsed");
        $(this).addClass("expanded");
        $(this).next(".feature-description").show();
      });
      $(this).text("#{ t(".collapse_all") }");
    },
    function() {
      $(".feature-title.expanded").each(function() {
        $(this).removeClass("expanded");
        $(this).addClass("collapsed");
        $(this).next(".feature-description").hide();
      });
      $(this).text("#{ t(".expand_all") }");
    });
  });