.feature-list-header
  %span
    = link_to t(".expand_all"), "#", :class => "expand-collaps-all-features"
  %h2= t(".title")

= render :partial => "shared/feature_item", :collection => @features, :as => :item, :locals => { :show_menu => show_menu }

:javascript
  jQuery(function() {
    $(".feature-title h5").click(function(e) {
      $(this).toggleClass("collapsed").toggleClass("expanded");
      $(this).parent().next(".feature-description").slideToggle(300);
    });

    $(".expand-collaps-all-features").toggle(function() {
      $(".feature-title h5.collapsed").each(function() {
        $(this).removeClass("collapsed").addClass("expanded");
        $(this).parent().next(".feature-description").show();
      });
      $(this).text("#{ t(".collapse_all") }");
    },
    function() {
      $(".feature-title h5.expanded").each(function() {
        $(this).removeClass("expanded").addClass("collapsed");
        $(this).parent().next(".feature-description").hide();
      });
      $(this).text("#{ t(".expand_all") }");
    });
  });